<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-5">SQL Injection Demo</h1>
                <form method="post" action="/search">
                    <div class="form-group">
                        <input type="text" name="query" class="form-control" placeholder="Search...">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                {% if results %}
                <div class="mt-5">
                    <h2>Search Results</h2>
                    <ul class="list-group">
                        {% for item in results %}
                        <li class="list-group-item">ID- {{ item[0] }}      Name- {{ item[1] }}      Description- {{ item[2] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>